<div class="card bg-light">
  <div class="card-header">
    <span [ngbTooltip]="todo.title">
        {{shortTitle}}
    </span>

    <a (click)="toggleTodo()" class="float-end" [ngClass]="{
      'icon-green': todo.done,
      'icon-dark': !todo.done
    }">
      <fa-icon [icon]="faCheckCircle" size="lg"></fa-icon>
    </a>
  </div>

  <div class="card-body">
    <p *ngIf="isCollapsed" class="card-text">{{shortDescription}}</p>
    <p #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="card-text">
      {{todo.description}}
    </p>
  </div>
  <span class="card-footer">
    <fa-icon [icon]="faCalendarDays" class="text-secondary"></fa-icon>
    {{deadTime}}
  </span>
  <button *ngIf="isCollapsable" type="button" class="btn btn-sm btn-outline-primary" (click)="collapse.toggle()">
    Read more
  </button>
</div>
