<div class="d-flex justify-content-between">
  <a (click)="toggleTodo()" class="me-1" [ngClass]="{
      'icon-green': todoItem.done,
      'icon-dark': !todoItem.done
    }">
    <fa-icon [icon]="faCheckCircle" size="lg"></fa-icon>
  </a>

  <div class="ms-2 me-auto">
    <div *ngIf="!isCollapsed" class="fw-bold">{{shortTitle}}</div>
    <div *ngIf="isCollapsed" class="fw-bold">{{todoItem.title}}</div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="lead">{{todoItem.description}}</div>
  </div>


  <div class="d-flex align-self-end align-content-between">
    <span class="d-flex align-self-center badge text-bg-secondary rounded-pill p-1 m-1">{{deadTime}}</span>
    <button type="button" title="Show description" class="btn btn-sm btn-outline-secondary btn-link p-1"
            (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">
      <fa-icon [icon]="faBook" class="icon-gray"></fa-icon>
    </button>
    <a (click)="editTodo()" class="btn btn-sm btn-outline-secondary btn-link p-1" title="Edit {{todoItem.title}}">
      <fa-icon [icon]="faPenSquare" class="icon-gray"></fa-icon>
    </a>

  </div>

</div>

